/*!
 izBootstrap
 */
 
 /* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body { color: #333333;font-size: 16px; font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a {text-decoration: none;}

h1 {font-size: 55px;}
h2 {font-size: 45px;}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 20px;}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

p{letter-spacing:1px;font-size: 16px;}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/* --Line-- */

hr { margin: 15px auto; padding: 0; max-width: 300px;border: 0; border-top: solid 3px #90D966;text-align: center;}
hr:after {content: url(../images/dots.png);display: inline-block;position: relative;top: -.8em;padding: 0 .55em;font-family: FontAwesome;color: #333;background-color: #F0F0F0;}

/* --Color-- */
.red {color: #F17074;}
.yellow {color: #E9A820;}
.blue {color: #6ECADC;}
.green {color: #90D966;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Header+Nav--------------------------------- */
/* ---------------------------------------------------------------------------- */
.navbar-default {border-color: transparent;background-color: #222;}
.navbar-default .navbar-brand {font-family: Helvetica,Arial,cursive;color: #90D966;}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {color: #90D966;}

.navbar-default .navbar-collapse {border-color: rgba(255,255,255,.02);}

.navbar-default .navbar-toggle {border-color: #90D966;background-color: #90D966;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #90D966;}

.navbar-default .nav li a {text-transform: uppercase;font-family: Helvetica,Arial,sans-serif;font-weight: 400;letter-spacing: 1px;color: #fff;}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {outline: 0;color: #90D966;}

.navbar-default .navbar-nav>.active>a {border-radius: 0;color: #fff;background-color: #90D966;}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {color: #fff;background-color: #90D966;}

.navbar-brand>img {float: left; display: inline;}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #F17074;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
header{text-align: center;color: #fff;background: url(../images/bg.jpg) no-repeat scroll center center ;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;height: 650px;}	
header img{display: block; margin: 200px auto  50px auto;}
header .intro-text .intro-heading {text-transform: uppercase;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: 700;font-size: 50px;}
header .intro-text .intro-lead-in {margin-bottom: 30px;font-family: 'Shadows Into Light', cursive;font-style: italic;font-size: 42px;}
@media(min-width:635px) {
    header .intro-text {
        padding-bottom: 80px;
    }
}
@media(max-width:420px) {
	header .intro-text .intro-heading {font-size: 33px;}
	header .intro-text .intro-lead-in {font-size: 22px;}
	header .intro-text {padding-bottom: 40px;}
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content{}
#page-content.index-page {background: #F0F0F0;}
#page-content.archives-page {padding: 70px 0;background: #F7F7F7;}
#page-content.single-page {padding: 70px 0;background: #F7F7F7;}

/* ---HomePage--- */
.box-content {padding: 100px 0;}
.box-content .heading{margin-bottom: 30px; text-align: center;}
.box-content .heading h2{font-size: 45px;letter-spacing:2px;}
.box-content .heading .intro{margin-bottom: 75px;font-family: 'Shadows Into Light', cursive;font-size:22px;font-style: italic;}

.box-content.box-style {background-attachment:fixed; background-image: url(../images/bg-1.jpg); background-color: #222;color:#fff;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------Services(box-1)------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-1 {text-align: center;}
.box-content.box-1 h3 {margin-bottom:15px;font-size: 25px;}
.box-content.box-1 .wrap-img{margin-bottom:40px;}
.box-content.box-1 .box-item {}

/* ---------------------------------------------------------------------------- */
/* --------------------------------New(box-2)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-2 {}
.box-content.box-2 blockquote {position: relative;padding: 30px 120px;text-align: center;font-size: 44px; }
.box-content.box-2 blockquote:before, .box-content.box-2 blockquote:after {position: absolute;width: 60px;height: 60px;font-size: 130px;line-height: 1; }
.box-content.box-2 blockquote:before {top: 0;left: 0;content: "\201C"; }
.box-content.box-2 blockquote:after {top: 0;right: 0;content: "\201D"; }

@media only screen and (max-width: 1100px) {
 	.box-content.box-2 blockquote {font-size: 30px; } }
@media only screen and (max-width: 960px) {
 	.box-content.box-2 blockquote {padding: 30px 60px; font-size: 18px; }
   	.box-content.box-2 blockquote:before, .box-content.box-2 blockquote:after { width: 30px; height: 30px; font-size: 60px; } }
@media only screen and (max-width: 690px) {
 	.box-content.box-2 blockquote { padding: 10px 30px;font-size: 16px; }
  	.box-content.box-2 blockquote:before,.box-content.box-2 blockquote:after {font-size: 30px; } }

/* ---------------------------------------------------------------------------- */
/* ------------------------------About(box-3)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-3 {}

.timeline {position: relative;padding: 0;list-style: none;}
.timeline:before {content: "";position: absolute;top: 0;bottom: 0;left: 40px;width: 2px;margin-left: -1.5px;background-color: #90D966;}
.timeline>li {position: relative;margin-bottom: 50px;min-height: 50px;}
.timeline>li:before,
.timeline>li:after {content: " ";display: table;}
.timeline>li:after {clear: both;}
.timeline>li .timeline-panel {float: right;position: relative;width: 100%;padding: 0 20px 0 100px;text-align: left;}
.timeline>li .timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.timeline>li .timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.timeline>li .timeline-image {z-index: 100;position: absolute;left: 0;width: 80px;height: 80px;margin-left: 0;border: 6px solid #90D966;border-radius: 100%;text-align: center;color: #fff;background-color: #90D966;}
.timeline>li .timeline-image h4 {margin-top: 12px;font-size: 10px;line-height: 14px;}
.timeline>li.timeline-inverted>.timeline-panel {float: right;padding: 0 20px 0 100px;text-align: left;}
.timeline>li.timeline-inverted>.timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.timeline>li.timeline-inverted>.timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.timeline>li:last-child {margin-bottom: 0;}
.timeline .timeline-heading h4 {margin-top: 0;color: inherit;}
.timeline .timeline-heading h4.subheading {text-transform: none;}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {margin-bottom: 0;}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}
@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}
@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Team(box-4)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-4 {}
.box-content.box-4 .box-item{margin-bottom: 10px; display: inline-block;}
.box-content.box-4 span{display: block; font-weight: bold; margin-top: 10px;}
.box-content.box-4 img{margin: 5px;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------Contact(box-5)-------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-5 {padding:110px 0 ;}
.box-content.box-5 .box-item{margin: 5px; }
.box-content.box-5 h3 {margin-bottom: 30px;font-size: 35px;}
.box-content.box-5 p {margin-bottom: 20px;}
.box-content.box-5 input {border: 1px solid #777;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.box-content.box-5 textarea {border: 1px solid #777;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;height: 240px;}

.message{text-align: center;margin: 100px 0;}
.message .wrap{	padding: 50px; background: #ffffff; border: 1px solid #333333;display: inline-block;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-khtml-border-radius: 5px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {color: #fff; }
footer p{ margin-bottom: 20px;display:block;}
footer a{color: #90D966;}
footer a:hover{color: #333; text-decoration: underline;}
footer .wrap-footer {padding-top: 50px;background-color: #222;}

footer .col-footer{margin-bottom: 50px;}
footer .col-footer .heading{text-align: center;}
footer .col-footer .heading h4{color:#fff;font-size: 24px;margin-bottom: 25px;}
footer .col-footer .content{}

footer .col-footer.footer-1{}
footer .col-footer.footer-1 img{width:40%;}

footer .col-footer.footer-2{}

footer .col-footer.footer-3{}
footer .col-footer.footer-3 img{margin: 10px 0;}
  

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Subcribe-------------------------------- */
/* ---------------------------------------------------------------------------- */
#subcribe {margin: 10px 0;}

#subcribe input[type="text"] {
    background:#26232D;
    font: 15px Arial,Helvetica,Sans-serif;
    color: #867B6E;
    width: 100%;
	border-radius: 0px;
    padding: 10px;
    border: 1px solid #aaa;
  
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
	border-radius: 2px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;	
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 14px;
}
a.btn:focus{outline: 0;}

.btn-1 {color: #fff;background-color: transparent;border: 2px solid #fff;margin:0 15px 20px 0;min-width: 170px;line-height: 26px;}
.btn-1:hover {color: #000;background-color: #fff;border-color: #fff;}

.btn-2 {background: #333;border: 2px solid transparent;margin:20px 0 50px 0; color:#fff;}
.btn-2:hover {color:#333;border:2px solid #333;background:transparent;}

.btn-3 {background: #90D966;margin: 20px 0 10px 0;border: 2px solid transparent;font-size:25px;}
.btn-3:hover {color:#333;border:2px solid #90D966;background:transparent;}

.btn-4 {background: #555;border: 2px solid transparent;font-size:18px;}
.btn-4:hover {color:#aaa;border:2px solid #555;background:transparent;text-shadow: none;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Slider---------------------------------- */
/* ---------------------------------------------------------------------------- */
.c-860 {
	max-width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 100px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}

.c-demoslider {margin: 0px auto;}
/* Slider */
#layerslider-wrapper{position:relative;}
#layerslider-wrapper .ls-shadow-top{
	position:absolute;
	background-image:url(bg/shadow-top.png);
	background-repeat:no-repeat;
	background-position:top center;
	height:42px;
	width:100%;
	top:0;
	z-index:1;
}
#layerslider-wrapper .ls-shadow-bottom{
	position:absolute;
	background-image:url(../images/bg/shadow.png);
	background-repeat:no-repeat;
	background-position:bottom center;
	height:32px;
	width:100%;
	bottom:0;
	z-index:1;
}
.ls-avada{
	border-top: 1px solid #d2d3d4;
	border-bottom: 1px solid #d2d3d4;
}
.ls-avada .ls-layer{
	background-repeat:no-repeat;
	background-position:center center;
}
.ls-avada .ls-nav-prev, .ls-avada .ls-nav-next {
	background-color: rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	width: 63px;
	height: 63px;
	display: none;
	position: absolute;
	top: 42%;
	opacity:0.8 !important;
}
.no-rgba .ls-avada .ls-nav-prev, .no-rgba .ls-avada .ls-nav-next, .no-rgba .wooslider .wooslider-prev, .no-rgba .wooslider .wooslider-next {
	background-color:#ccc;
}
.ls-avada .ls-nav-prev:hover, .ls-avada .ls-nav-next:hover{
	opacity:1 !important;
}
.ls-avada:hover .ls-nav-prev, .ls-avada:hover .ls-nav-next {
	display: block;
}
.ls-avada .ls-nav-prev {
	background-image: url(../imagesbg/ls_prev.png);
	background-position: 19px 19px;
	left: 0;
}
.ls-avada .ls-nav-next {
	background-image: url(../imagesbg/ls_next.png);
	background-position: 29px 19px;
	right: 0;
}

#fallback-slide{
	display:none;
	text-align:center;
}


/* Global styles */

.cute-slider {
	position: relative;
	visibility: hidden;
	overflow: hidden;
}

.cute-ie8 *,
.cute-ie7 * {
	filter: inherit;
	opacity: inherit;
}

/* Slider Controls */

.br-controls {
	position: absolute;
	z-index: 10;
}

.br-next,
.br-previous,
.br-slidecontrol,
.br-thumb-bottom .br-thumb-img,
.br-thumb-up .br-thumb-img,
.br-thumblist {
	position: absolute;
}

.br-slidecontrol {
	list-style: none;
	cursor: auto !important;
}

	.br-slidecontrol ul {
		margin: 0px;
		padding: 0px;
		height: 0px;
	}

	.br-slidecontrol ul li {
		display: block;
		position: relative;
		float: left;
		cursor: pointer !important;
	}

	.br-slidecontrol ul li .br-control-selected {
		display: none;
	}

.br-thumb-bottom,
.br-thumb-up {
	position: relative;
}

.br-thumblist {
	width: 100%;
	text-align: center;
	height: 0px;
	left: 0px;
	bottom: 0px;
}

.br-thumblist-content .br-list-thumb img {
	cursor: pointer !important;
}

.br-thumb-img img {
	height: 100% !important;
}

.br-slideinfo .top,
.br-slideinfo .bottom {
	width: 100%;
}

.br-slideinfo .right,
.br-slideinfo .left {
	height: 100%;
}

.br-slideinfo .more-btn {
	cursor: pointer !important;
	display: block;
	position: relative;
	text-decoration: none;
}

.br-slideinfo .subtitle,
.br-slideinfo .title,
.br-slideinfo .text {
	display: block;
}

/* Slider Timer */

.br-circle-timer,
.br-circle-timer .br-timer-dot,
.br-bar-timer,
.br-bar-timer .br-timer-bar {
	position: absolute !important;
}

.br-circle-timer .br-timer-dot {
	left: 50% !important;
	top: 50% !important;
}

/* Slider Captions */

.br-captions div {
	position: absolute;
	text-shadow: none;
}

/* Slider Video */

.br-video .play-btn,
.br-video .close-btn {
	background-repeat: no-repeat;
	cursor: pointer !important;
	position: absolute;
}

.br-video .video-cont {
	position: absolute;
	z-index: 2;
}

.cute-ie8 .video-cont,
.cute-ie7 .video-cont {
	z-index: auto !important;
}

/* Slider Shadow */

.cute-shadow {
	width: 100%;
}

.cute-shadow img {
	max-width: 100%;
}

/* Slider Loading */

.br-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 101;
}

.br-large-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;	
}

.br-loading .img,
.br-large-loading .img {
	width: 100%;
	height: 100%;
}

/* Trying to remove all the default global styles of WordPress :) */

.cute-slider img {
	max-width: none !important;
}

.cute-slider img,
.entry-content .cute-slider img,
.comment-content .cute-slider img,
.widget .cute-slider img,
.cute-shadow img,
.entry-content .cute-shadow img,
.comment-content .cute-shadow img,
.widget .cute-shadow img {
	border-radius: 0px;
	box-shadow: none;
	border: 0px;
	margin: 0px;
}

.entry-content .cute-slider *,
.comment-content .cute-slider *,
.widget .cute-slider * {
	line-height: normal;
	padding: 0px;
	outline: none;
	border: 0px;
	margin: 0px;
}

.cute-slider br.clear {
	clear: both;
}

.top div ,
.right div,
.bottom div,
.left div {
	padding: 20px !important;
}

.br-infocontent .title {
	background: none !important;
	margin: 0px !important;
	padding: 0px !important;
}

.br-infocontent .text {
	text-align: justify;	
	margin: 10px 0px 0px 0px !important;
	padding: 0px !important;
}
/**************** cuteslider end ****************/
